.bottom-spacing-big {
    margin-bottom: 35px;
}

.bottom-spacing-medium {
    margin-bottom: 20px;
}

.bottom-spacing-small {
    margin-bottom: 10px;
}

.margin-grid {
    margin-left: 16px;
}

.participant-column {
    background-color: #e4e4e4;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    width: 300px;
}

.participant-card {
    user-select: none;
    margin: 0, 0, 16px, 0;
}

.link {
  cursor: pointer;
  color: #dc3545;
  padding-bottom: 2px;
}